* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}


label {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}


button {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


svg {
  background-color: white;
  border-radius: 0.5rem;
}
